WebApp/Connected Services/SvcJuegos/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49451/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Juegos.Negocio.Modelo" />
  <xs:element name="BuscarUnoJuegoServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUnoJuegoServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Juegos.Negocio.Modelo" minOccurs="0" name="BuscarUnoJuegoServicioResult" nillable="true" type="q1:Juego" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUnoJuegoByNombreServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUnoJuegoByNombreServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Juegos.Negocio.Modelo" minOccurs="0" name="BuscarUnoJuegoByNombreServicioResult" nillable="true" type="q2:Juego" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearJuegoCasualServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requiereSupervision" type="xs:boolean" />
        <xs:element minOccurs="0" name="poseeCinturon" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearJuegoCasualServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearJuegoCasualServicioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJuegoCasualServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requiereSupervision" type="xs:boolean" />
        <xs:element minOccurs="0" name="poseeCinturon" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJuegoCasualServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateJuegoCasualServicioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJuegoCasualServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJuegoCasualServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteJuegoCasualServicioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUnoJuegoCasualServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUnoJuegoCasualServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Juegos.Negocio.Modelo" minOccurs="0" name="BuscarUnoJuegoCasualServicioResult" nillable="true" type="q3:JuegoCasual" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUnoJuegoCasualByNombreServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUnoJuegoCasualByNombreServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Juegos.Negocio.Modelo" minOccurs="0" name="BuscarUnoJuegoCasualByNombreServicioResult" nillable="true" type="q4:JuegoCasual" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearJuegoExtremoServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="altura" type="xs:int" />
        <xs:element minOccurs="0" name="nivelRiesgo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearJuegoExtremoServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearJuegoExtremoServicioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJuegoExtremoServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="altura" type="xs:int" />
        <xs:element minOccurs="0" name="nivelRiesgo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJuegoExtremoServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateJuegoExtremoServicioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJuegoExtremoServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJuegoExtremoServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteJuegoExtremoServicioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUnoJuegoExtremoServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUnoJuegoExtremoServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Juegos.Negocio.Modelo" minOccurs="0" name="BuscarUnoJuegoExtremoServicioResult" nillable="true" type="q5:JuegoExtremo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUnoJuegoExtremoByNombreServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUnoJuegoExtremoByNombreServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Juegos.Negocio.Modelo" minOccurs="0" name="BuscarUnoJuegoExtremoByNombreServicioResult" nillable="true" type="q6:JuegoExtremo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>