WebApp/Connected Services/SvcJuegos/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Juegos.Negocio.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Juegos.Negocio.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Juego">
    <xs:sequence>
      <xs:element minOccurs="0" name="EsTipoCasual" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Juego" nillable="true" type="tns:Juego" />
  <xs:complexType name="JuegoCasual">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Juego">
        <xs:sequence>
          <xs:element minOccurs="0" name="PoseeCinturon" type="xs:boolean" />
          <xs:element minOccurs="0" name="RequiereSupervision" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JuegoCasual" nillable="true" type="tns:JuegoCasual" />
  <xs:complexType name="JuegoExtremo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Juego">
        <xs:sequence>
          <xs:element minOccurs="0" name="Altura" type="xs:int" />
          <xs:element minOccurs="0" name="NivelRiesgo" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JuegoExtremo" nillable="true" type="tns:JuegoExtremo" />
</xs:schema>