WebApp/Connected Services/SvcTickets/ServicioTickets.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Juegos.Negocio.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Juegos.Negocio.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Ticket">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Valor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ticket" nillable="true" type="tns:Ticket" />
</xs:schema>